if SHIELD_VCORNE_LEFT

config ZMK_KEYBOARD_NAME
    default "VCorne"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_VCORNE_LEFT || SHIELD_VCORNE_RIGHT

config ZMK_SPLIT
    default y

endif