# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

# No whitespace after the comma or in your part name!
config SHIELD_CORNE_LEFT
    def_bool $(shields_list_contains,corne_left)

# No whitespace after the comma or in your part name!
config SHIELD_CORNE_RIGHT
    def_bool $(shields_list_contains,corne_right)